<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="academic.kme.model.NoteCluster.NoteCluster"/>
        <mapping class="academic.kme.model.Voice.Voice"/>
        <mapping class="academic.kme.model.Measure.Measure"/>
        <mapping class="academic.kme.model.Staff.Staff"/>
        <mapping class="academic.kme.model.StaffGroup.StaffGroup"/>
        <mapping class="academic.kme.model.Document.Document"/>
    </session-factory>
</hibernate-configuration>
